<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="developerhub" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Share Cart</label>
            <tab>developerhub</tab>
            <resource>Magento_Checkout::checkout</resource>
            <group id="share_cart" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Share Cart</label>
                <field id="share_cart_enabled" translate="label" type="select" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Share Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_subject" translate="label comment" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Email Subject</label>
                    <depends>
                        <field id="share_cart_enabled">1</field>
                    </depends>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="email_followup_message" translate="label comment" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Email Follow Up Message</label>
                    <depends>
                        <field id="share_cart_enabled">1</field>
                    </depends>
                    <frontend_class>required-entry</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
